* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.social i {
  color:black;
}


.header {
  width: 100%;
  height: 50px;
  background-color: #FF9A4B;
}


main {
  width: 960px;
  margin:50px auto;

  display: flex;

}

.step-box {
  width: 300px;
  margin-right: 30px;
  padding: 10px;
  position: relative;
  background-color: #eee;
}

.step-box:last-child {
  margin-right: 0;
}

.step-num {
  position: absolute;
  top: 0px;
  left: 0px;
  color: white;
  background-color: #FF9A4B;
}

.step-img1 {
  height: 150px;
  background-image: url(img/flow01.png);
  background-position: bottom;
  background-size: cover;
}

.step-img2 {
  height: 150px;
  background-image: url(img/flow02.png);
  background-position: bottom;
  background-size: cover;
}

.step-img3 {
  height: 150px;
  background-image: url(img/flow03.png);
  background-position: bottom;
  background-size: cover;
}



.footer {
  width: 100%;
  height: 50px;
  background-color: #AAAAAA;
}

@media screen and (max-width:768px) {
  main {
    width: 100%;

    /*margin:50px auto;*/
  justify-content: center;

    display: flex;
    flex-direction: column;


  }



  .step-box {
    width: 90%;

    padding: 10px;
    margin: 20px auto;
    background-color: #eee;
     }
  .step-img1 {
    height: 150px;
    background-image: url(img/flow01.png);
    background-position: bottom;
    background-size: cover;
   }
  .step-img2 {
    height: 150px;
    background-image: url(img/flow02.png);
    background-position: bottom;
    background-size: cover;
  }

  .step-img3 {
    height: 150px;
    background-image: url(img/flow03.png);
    background-position: bottom;
    background-size: cover;
  }

  .social i {
    color: green;
  }
}